#####################################################################
# 	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - XYE board, HE1 Connector
pin: HE1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[fan]
##	Print Cooling Fan - XYE board, Fan Pin
pin: FAN
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan controller_fan]
##	Controller fan - Z board, HE1 Connector
pin: z:HE1
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

#[heater_fan exhaust_fan]
##	Exhaust fan - Z board, HE0 Connector
#pin: z:HE0
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
# 	Chamber Thermistor Settings
#####################################################################

[temperature_sensor chamber_temp]
sensor_type: MAX31865
min_temp: 0
max_temp: 100
spi_speed: 4000000
spi_software_sclk_pin: SCK
spi_software_mosi_pin: MOSI
spi_software_miso_pin: MISO
sensor_pin: E1_RX
rtd_nominal_r: 100
rtd_reference_r: 390
rtd_num_of_wires: 2
rtd_use_50Hz_filter: True