#####################################################################
# 	RaspberryPi
#####################################################################

[temperature_sensor Pi]
sensor_type: rpi_temperature
min_temp: 0
max_temp: 90